<html>
<head>
  <meta charset='utf-8'>
  <title>Thank You!</title>
</head>
<body>
  <h1>Thanks <%= name %></h1>
  <% if phone_number %>
    <h3><%= phone_number %></h3>
  <% end %>
  
  <p>Thanks for coming to our conference.  We couldn't have done it without you!</p>

  <p>
    Political activism is at the heart of any democracy and your voice needs to be heard.
    Please consider recaching out to your following representatives:
  </p>

  <table>
    <% legislators.each do |legislator| %>
	  <tr>
	    <td><%= "#{legislator.first_name} #{legislator.last_name}" %></td>
	    <td><%= "#{legislator.website}" %></td>
	  </tr>
	<% end %>
  </table>
</body>
</html>